---
name: Build

on: 
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: ./build.sh
  upload:
    needs: build
    if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    env:
      name: jburel/omero-web
      nameStandalone: jburel/omero-web-standalone
    steps:
      - name: Get other tags
        id: gettags
        uses: jupyterhub/action-major-minor-tag-calculator@v2.0.0
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          prefix: "${{ env.name}}:"
      - name: Get other tags
        id: getstandalonetags
        uses: jupyterhub/action-major-minor-tag-calculator@v2.0.0
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          prefix: "${{ env.nameStandalone }}:"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          tags: ${{ join(fromJson(steps.gettags.outputs.tags)) }}, ${{ join(fromJson(steps.getstandalonetags.outputs.tags)) }}
          push: true
